@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

@import url(https://allfont.net/allfont.css?fonts=agency-fb);

@font-face{
  font-family:Twitchy TV;
  src:url(https://dl.dropboxusercontent.com/s/blwd36moc27olix/Twitchy.TV.ttf);
}
@font-face{
  font-family:Agency FB;
  src:url(https://dl.dropboxusercontent.com/s/9ekigg7o8j2iw3y/agency_fb.ttf);
}
@font-face{
  font-family:EnterCommand;
  src:url(https://dl.dropboxusercontent.com/s/ud2ykkvi5516okb/EnterCommand.ttf);
}

body{
  background:#050505;
  margin:0;
  padding:0;
}
.centralizador{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
}

.selecao{
  width:97%;
  height:100%;
  border:double 4px #333;
  overflow-y:scroll;
  overflow-x:hidden;
}
.selecao::-webkit-scrollbar{
  width:6px;
  background:#010101;
}
.selecao::-webkit-scrollbar-thumb{
  background-image:linear-gradient(0deg, rgba(0,0,0,0), rgba(80,50,150,1), rgba(0,0,0,0));
}

.toJump{
  width:100%;
  margin:0;
  padding:0;
  text-align:center;
}
.tStart{
  display:flex;
  justify-content:center;
  align-items:flex-start;
}
.tCenter{
  text-align:center;
}
.tCeSe{
  display:none;
}

.charbox{
  width:13.5%;
  padding-top:14%;
  background:#111;
  border:none;
  color:#FFF;
  margin:3% 1%;
  cursor:pointer;
  border-radius:2px;
  border-bottom:2px solid #222;
  transition:all ease-in-out 0.1s;
  box-shadow:inset 0px -8px 15px 3px #000;
}
.deac{
  cursor:default;
  border-bottom:2px solid #222;
  box-shadow:inset 0 0 10px 0px #000;
}

.charbox p{
  position:relative;
  margin:-17% 0 0 0;
  padding:0;
  line-height:0.5vw;
  font-size:4vw;
  font-family:'Agency FB';
  font-weight:bold;
  text-align:center;
  letter-spacing:0.1vw;
  text-shadow:1px 1px 5px #000;
}

/*  __Chars__  */
.um:focus{
  box-shadow:0 8px 15px -5px #F00, inset 0px 0px 10px 0px #F00;
  border-bottom:2px solid #F99;
  filter:brightness(150%) contrast(150%);
  text-shadow:5px 5px 20px #F00, -5px -5px 20px #F00;
  color:#FAA;
}
.tres:focus{
  box-shadow:0 8px 15px -5px #00F, inset 0px 0px 10px 0px #00F;
  border-bottom:2px solid #99F;
  border-bottom:2px solid #006;
  filter:invert(100%);
  text-shadow:5px 5px 20px #00F, -5px -5px 20px #00F;
  color:#003;
}

#char1{
  background:url(https://i.imgur.com/ccqMsY5.png);
  background-size:100% 100%;
}
#char2{
  background:url(https://i.imgur.com/1L6RW85.png);
  background-size:100% 100%;
}
#char3{
  background:url(https://i.imgur.com/bOYR5lr.png);
  background-size:100% 100%;
}
#char4{
  background:url(https://i.imgur.com/hwy02Dd.png);
  background-size:100% 100%;
}
#char5{
  background:url(https://i.imgur.com/vgBmKZk.png);
  background-size:100% 100%;
}
#char6{
  background:url(https://i.imgur.com/xr4Jaeq.png);
  background-size:100% 100%;
}

/*  -- Pagina de personagens --   */
#tabChar{
  width:100%;
  height:4%;
  position:fixed;
  background:url(https://i.imgur.com/5OtDSGD.png) bottom center no-repeat, url(https://i.imgur.com/4Lbw3of.png) top center no-repeat, linear-gradient(10deg, rgba(5,2,10,1), rgba(25,10,45,1));
  background-size:110% auto;
  overflow-y:scroll;
  overflow-x:hidden;
  display:none;
  align-items:center;
  justify-content:center;
  transition:all ease-in-out .5s;
  z-index:20;
  /*pointer-events:none;*/
}
#tabChar::-webkit-scrollbar{
  width:8px;
  background:#000;
  box-shadow:inset 0 0 5px 0px #416;
}
#tabChar::-webkit-scrollbar-thumb{
  background-image:linear-gradient (rgba(0,0,0,0), rgba(30,10,60,1), rgba(0,0,0,0));
}
#tabChar button{
  font-size:5vw;
  background:#315;
  color:#FFF;
  border:none;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
  transition:linear all 0.2s;
}
#charCancel img{
  position:absolute;
  margin:-13% -16%;
  width:10%;
  filter:hue-rotate(-80deg) drop-shadow(0 0 5px #85F);
  transition:linear all 0.2s;
}

.tCharBgTop{
  width:100%;
  height:50px;
  float:left;
  pointer-events:none;
  background:url(https://i.imgur.com/4Lbw3of.png) top center no-repeat;
  background-size:100% auto;
}
.tCharBgBottom{
  width:100%;
  height:50px;
  float:left;
  pointer-events:none;
  background:url(https://i.imgur.com/5OtDSGD.png) bottom center no-repeat;
  background-size:100% auto;
}

#tabCharPan{
  width:1%;
  height:95%;
  position:fixed;
  background:linear-gradient(-25deg, rgba(15,10,25,1), rgba(10,5,20,1));
  border:groove 8px transparent;
  border-left:double 4px #95F;
  border-right:double 4px #95F;
  display:none;
  align-items:center;
  justify-content:center;
  box-shadow:1px 1px 10px #000;
  transition:all ease-in-out .5s;
  opacity:1;
  z-index:30;
}
#tabCharPan button{
  font-size:5vw;
  background:#315;
  color:#FFF;
  border:none;
  padding:5px 10px;
  border-radius:5px;
  cursor:pointer;
  transition:linear all 0.2s;
}

@media only screen and (orientation: landscape){
  
  #tabCharPan{
    display:none;
  }
  #tabChar{
    width:5%;
    height:100%;
  background:url(https://i.imgur.com/dFmca8X.png) left center no-repeat, url(https://i.imgur.com/OzuLNoP.png) right center no-repeat, linear-gradient(10deg, rgba(5,2,10,1), rgba(25,10,45,1));
    background-size:auto 100%;
    display:none;
  }
  
  #charCancel img{
    position:absolute;
    margin:-13% -16%;
    width:10%;
    filter:hue-rotate(-80deg) drop-shadow(0 0 5px #85F);
    transition:linear all 0.2s;
  }
  
}


/*__ Menus __*/
/*Botões*/
.menuBar{
  width:100%;
  height:5%;
  position:fixed;
  bottom:5%;
  left:0%;
  display:flex;
  align-items:flex-start;
  justify-content:center;
  pointer-events:none;
  z-index:45;
}
.menuBar button{
  width:12%;
  padding-bottom:12%;
  background:url(https://i.imgur.com/TgTiO39.png) center no-repeat;
  background-size:100% 100%;
  border:none;
  cursor:pointer;
  pointer-events:auto;
  transition:all ease-in-out 0.3s;
  z-index:5;
}
#menuOpn:hover{
  filter:drop-shadow(0 0 10px #95F) hue-rotate(-30deg) contrast(160%);
}

@media only screen and (orientation: landscape){
  .menuBar{
    width:7%;
    height:50%;
    position:fixed;
    top:0%;
    left:0%;
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events:none;
  }
  .menuBar button{
    width:100%;
    padding-bottom:100%;
    background:url(https://i.imgur.com/TgTiO39.png) center no-repeat;
    background-size:100% 100%;
    border:none;
    cursor:pointer;
    pointer-events:auto;
    transition:all ease-in-out 0.2s;
    opacity:0.7;
  }
}

/*   __MenuScreen__   */
#menuCentralize{
  width:100%;
  height:100%;
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  left:0;
  bottom:-100%;
  transition:ease-in-out all 0.2s;
  z-index:45;
}
.menu{
  width:100%;
  height:98.5%;
  background-image:linear-gradient(-15deg, rgba(10,5,15,1), rgba(20,10,40,1));
  border:double 4px transparent;
  border-top:double 4px #97F;
  border-bottom:double 4px #97F;
  text-align:center;
  overflow-y:scroll;
  overflow-x:hidden;
}
.menu::-webkit-scrollbar{
  width:8px;
  background:transparent;
}

.mOn{
  cursor:pointer;
  color:#FFF;
}
.mOn:focus{
  text-shadow:0 0 20px #FFF;
  transform:translate(10%);
}
.mOff{
  color:#333;
  text-shadow:1px 1px 1px #333;
}
.menu button{
  font-size:11vw;
  background:#050505;
  border:none;
  padding:1% 3%;
  margin:2% 1%;
  font-family:'EnterCommand';
  transition:all linear 0.1s;
}

.menu p button{
  font-size:11vw;
  background:transparent;
  border:none;
  padding:1% 2%;
  margin:2% 0;
  font-family:'EnterCommand';
}

#mSair{
  position:fixed;
  right:5%;
  bottom:-100%;
  transition:all ease-in-out 0.2s;
  z-index:30;
}

@media only screen and (orientation: landscape){
  .menu{
    border:double 4px transparent;
    border-left:double 4px #97F;
    border-right:double 4px #97F;/*
    display:flex;
    align-items:center;
    justify-content:center;*/
  }
  .menu p{
    float:;
    margin:0 2%;
  }

  .menu p button{
    font-size:8vh;
    background:transparent;
    border:none;
    padding:1% 5%;
    margin:1% 3%;
    font-family:'EnterCommand';
  }
  
  .menu button{
    font-size:8vh;
    background:#050505;
    border:none;
    padding:1% 3%;
    margin:1% 1%;
    font-family:'EnterCommand';
    transition:all linear 0.1s;
  }
}

/*   __Janela De Customizações__  */
#custCentralize{
  width:100%;
  height:100%;
  position:fixed;
  top:100%;
  left:0;
  margin:0;
  padding:0;
  display:flex;
  align-items:center;
  justify-content:center;
  transition:all ease-in-out 0.3s;
  user-select: none;
  z-index:60;
}
.customizacoes{
  width:100%;
  height:100%;
  background:linear-gradient(25deg, rgba(15,15,25,1), rgba(10,5,15,1));
}

.customizacoes h1{
  height:7%;
  font-family:"EnterCommand";
  font-size:13vw;
  color:#FFF;
  font-weight:lighter;
  margin:0 0 3% 0;
  padding:0;
  text-align:center;
  /*border:dashed 1px #FFF;*/
}
.customizacoes h2{
  width:91%;
  font-family:'EnterCommand';
  color:#999;
  font-weight:lighter;
  font-size:8vw;
  border-bottom:groove 2px #333;
  margin:1% 1%;
  padding:0 2%;
  float:left;
}

.custContent{
  height:79.5%;
  overflow-y:scroll;
  overflow-x:hidden;
  box-shadow:inset 0 0 4px 2px #000;
}
.custContent::-webkit-scrollbar{
  width:4px;
  background:transparent;
}
.custContent::-webkit-scrollbar-thumb{
  background:linear-gradient(0deg, rgba(0.0.0.0), rgba(50,25,100,1), rgba(0,0,0,0));
}

.itemBox{
  width:20%;
  padding-top:20%;
  background:transparent;
  border:groove 3px #333;
  color:#FFF;
  border-radius:5%;
  float:left;
  cursor:pointer;
  margin:2% 0% 0 1%;
}
.itemBox p{
  font-family:"EnterCommand";
  font-size:5vw;
  margin:-10% 0 0 0;
  line-height:0px;
}
.bSel{
  border-bottom:double 3px #FC7;
  border-radius:5% 5% 0% 0;
  box-shadow:0 8px 10px -8px #F91;
}
#dSbeeker{
  cursor:default;
  background-image:url(https://i.imgur.com/gEqn6od.png);
  background-size:100% 100%;
  border:none;
  filter:saturate(40%) contrast(1.5) brightness(0.9);
  box-shadow:inset 2px 2px 10px #000;
  text-shadow:1px 1px 5px #000, -0.3px -0.3px 1px #FFF;
  display:none;
}

.endButtons{
  width:100%;
  height:10%;
  display:flex;
  justify-content:center;
}
#savThat{
  font-family:'EnterCommand';
  font-size:8vw;
  font-weight:lighter;
  text-shadow:0 0 15px #FFF;
  color:#FFF;
  margin:1% 4%;
  padding:0 2%;
  float:right;
  cursor:pointer;
  background:linear-gradient(-15deg, rgba(35,25,60,1), rgba(15,15,20,1));
  border:none;
  box-shadow:inset 0 0 5px #000;
  border-radius:8%;
  transition:all linear 0.2s;
}
#savThat:hover{
  background:linear-gradient(-15deg, rgba(60,60,25,1), rgba(20,20,15,1));
  color:#FF9;
  text-shadow:0 0 15px #FF3;
  box-shadow:inset 0 0 5px #000, 0 0 5px -2px #550;
}


@media only screen and (orientation: landscape){
  .custContent{
    width:79.5%;
    height:87%;
    float:left;
  }
  .endButtons{
    width:20%;
    height:85%;
    float:right;
    display:flex;
    justify-content:center;
    align-items:flex-end;
  }
  #savThat{
    font-size:8vh;
    text-shadow:0 0 5px #FFF;
  }
  
  .customizacoes h1{
    width:80%;
    font-size:12vh;
    color:#666;
    text-shadow:-1px -1px 1px #000, 0.5px 0.5px 1px #999;
  }
  .customizacoes h2{
    width:100%;
    font-size:9vh;
    border-bottom:groove 2px #111;
  }
  .itemBox{
    width:15%;
    padding-top:15%;
  }
  .itemBox p{
    font-size:4vw;
  }
}

/*???????*/
.allOcult{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:55%;
  pointer-events:none;
  user-select: none;
  display:none;
  align-items:center;
  justify-content:center;
  opacity:0;
}
.cmdItems{
  width:70%;
  height:100%;
  color:#FFF;
  text-align:center;
  font-family:"EnterCommand";
  background:#000;
  overflow-y:scroll;
  overflow-x:hidden;
}
.cmdItems::-webkit-scrollbar{
  width:3px;
  background:#111;
}
.cmdItems::-webkit-scrollbar-thumb{
  background:#444;
}

.cmdItems h1{
  font-size:6vw;
  font-weight:lighter;
}
.cmdItems h2{
  font-size:5.5vw;
  color:#888;
  font-weight:lighter;
  margin:2% 0;
  padding:0 0% 0 8%;
  text-align:left;
}
.cmdItems h3{
  font-size:4vw;
  font-weight:lighter;
  text-align:left;
  margin:2% 0;
  padding:0 0% 0 2%;
}
.cmdItems h3 input{
  width:10%;
  background:#050505;
  border:none;
  color:#FFF;
  text-align:right;
  font-family:'EnterCommand';
  font-size:4vw;
  float:right;
  margin:0 60% 0 0;
}

/*__   __TELA DE PASSWORD__   __*/
#passCentralizador{
  width:100%;
  height:100%;
  position:fixed;
  top:100%;
  left:0;
  z-index:40;
  display:flex;
  align-items:center;
  justify-content:center;
  display:;
  transition:all ease-in-out 0.3s;
}
.password{
  width:100%;
  height:100%;
  background:rgba(10,5,15,0.95);
  background:url(https://i.imgur.com/qqWV5x3.png) repeat-x bottom, linear-gradient(170deg, rgba(30,25,40,1), rgba(13,10,20,0.93), rgba(15,10,25,1));
  background-blend-mode: overlay;
  background-size:auto 100%;
  text-align:center;
  /*display:flex;
  justify-content:center;
  border:dashed 1px #FFF;*/
}
.password h1{
  width:100%;
  height:10%;
  margin:0;
  float:left;
  border-bottom:groove 2px #333;
  text-align:center;
  color:#999;
  font-family:'EnterCommand';
  font-weight:lighter;
  font-size:15vw;
  display:flex;
  align-items:center;
  justify-content:center;
}

/*  __Pass Latters And Buttons__  */
#passLatters{
  width:100%;
  height:80%;
  float:left;
  /*display:flex;
  align-items:center;
  justify-content:center;*/
  overflow-y:scroll;
  overflow-x:hidden;
}
#passLatters::-webkit-scrollbar{
  width:4px;
}
#passLatters::-webkit-scrollbar-thumb{
  background:linear-gradient(0deg, rgba(0,0,0,0), rgba(40,30,60,1), rgba(0,0,0,0));
}

/*  __Botões__   */
#passBTN{
  width:100%;
  height:9%;
  float:left;
  text-align:right;
  border-top:groove 2px #333;
  display:flex;
  align-items:center;
  justify-content:flex-end;
}
#passBTN button{
  background:none;
  border:2px #32F solid;
  color:#C9F;
  font-family:'EnterCommand';
  font-size:7.2vw;
  margin:0 1%;
  text-shadow:1px 1px 1px #32F;
  cursor:pointer;
  border-radius:3px;
  padding:1.5% 3%;
}
#btnOrder{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:flex-end;
}

#passCFM{
}

@media only screen and (orientation: landscape){
  .password h1{
    height:12%;
    font-size:10vw;
  }
  
/*  __Pass Latters And Buttons__  */
  #passLatters{
    width:79%;
    height:88%;
  }
  /*  __Botões__   */
  #passBTN{
    width:20%;
    height:88%;
    border-top:none;
    border-left:groove 2px #333;
    text-align:right;
    display:flex;
    align-items:flex-end;
    float:right;
  }
  #passBTN button{
    font-size:5vw;
    margin:3% 0;
    padding:1% 5%;
  }
  #btnOrder{
    width:100%;
    display:initial;
  }
}

/*Input das letras*/
#PossLatters{
  width:100%;
  height:50%;
  text-align:center;
}

.letterBox{
  width:10%;
  padding-top:10%;
  float:left;
  margin:2% 1.65vw;
  border:1px groove #87F;
  box-shadow:inset 0 0 15px 0px #63F, 0 0 15px #63F;
  transform:scale(1) rotate(45deg);
  border-radius:20%;
}

.letterBox input{
  width:90%;
  position:absolute;
  left:-0%;
  right:0;
  top:-0%;
  bottom:0;
  transform:rotate(-45deg);
  background:transparent;
  border:none;
  color:#C9F;
  text-align:center;
  font-size:10vw;
  font-family:'EnterCommand';
  text-transform: uppercase;
  text-shadow:0 0 10px #64F;
}

@media only screen and (orientation: landscape){
  .letterBox{
    margin:3% 1.5vw;
  }
}

@media only screen and (max-height:200px){
  .password h1{
    display:none;
  }
  .menuBar{
    display:none;
  }
}
