@font-face{
  font-family:EnterCommand;
  src:url(https://breadcrumbsrockeydoggy.github.io/cssfonts/EnterCommand/EnterCommand.ttf);
}

@font-face{
  font-family:"DefaultFont";
  src:url(https://rockeydoggy.github.io/cssfonts/custom/neometric-black.ttf);
}

:root{
  /*Tamanho Das Fonts*/
  --TamanhoDaFontePadrao:17px;
  --FontPontosPadrao:16px;
  --TamanhoFontPrincipal:23px;
  --TamanhoObjetivoPrincipal:19px;
  --FontMissaoMono:19px;
  /*Quais Fonts*/
  --FontPadrao:DefaultFont;
  /*Cores Padrões*/
  --CorPadrao:#FFF;
  --OnlyScore:25px;
}

body{
  background:#080808;
  color:#FFF;
}
#screen{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}

#ContentList{
  width:90%;
  position:absolute;
  right:10px;
  top:0;
  font-family:var(--FontPadrao);
/*   border:dotted 1px #486; */
  transition:all ease-in-out 0.5s;
}

#ContentList h1{
  width:100%;
  margin:7px 0vw 0;
  font-size:var(--TamanhoDaFontePadrao);
  float:left;
  text-align:right;
  font-weight:lighter;
/*   font-style:italic; */
  color:var(--CorPadrao);
  transition:all ease-in-out 0.5s;
}

#ContentList > div:nth-of-type(1){
  background:linear-gradient(60deg,  #0000 50%, #C942) !important;
}

#ContentList > div:nth-of-type(1) > h1{
  font-size:var(--TamanhoFontPrincipal);
  text-shadow:1px 1px 1px #FF0;
}
#ContentList > div:nth-of-type(1) > div{
  font-size:var(--TamanhoObjetivoPrincipal);
}

#ContentList > div{
  width:100%;
  max-height:20vh;
  float:left;
  padding:0 5px;
  transform:translate(75vw, 0);
  transition:all ease-in-out 0.5s;
}
#ContentList > div:nth-of-type(2n+1){
  background:linear-gradient(60deg, #0000 50%, #59F2);
  box-shadow:-2px 5px 7px #0002;
/*   border:double 3px #88F2; */
}

#ContentList > div > div{
  margin:0vw 1.5vw 0;
  float:right;
  font-size:var(--FontPontosPadrao);
  color:var(--CorPadrao);
  text-shadow:0 0 1vw var(--CorPadrao);
  transition:all ease-in-out 0.5s;
}
.unic{
/*   background:#55F2; */
  font-size:var(--FontMissaoMono) !important;
  padding:18px 0 !important;
}

.scoreUp{
  font-size:var(--OnlyScore) !important;
}
