#BaseCarimbo{
  animation-duration:0.8s;
  animation-timing-function:ease-in;
}

@keyframes slideStampIn{
  0%{}
  30%{right:0;}
  45%{right:-4vw;}
/*   90%{right:0;} */
  100%{right:0;}
}
@keyframes slideStampOut{
  0%{right:0;}
  30%{right:-41.5vw;}
  45%{right:-39vw;}
  65%{right:-40.2vw;}
  100%{right:-40.2vw;}
}
