#PageMarksL > .newRules{
  animation:highlighted ease-in-out 30s infinite !important;
}
.Unfocus{
  animation:protect ease-in-out 30s infinite;
}

@keyframes highlighted{
  0%{box-shadow:0 0 0.6vw #FF0;}
  74%{box-shadow:0 0 0.6vw #FF0; background-color:#FF5;}
  75%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0; background-color:#F82;}
  77%{box-shadow: 0.2vw 0.2vw 0.9vw #FF0, -0.2vw 0.2vw 0.6vw #F60, 0.2vw -0.2vw 0.7vw #F28, -0.2vw -0.2vw 0.8vw #F00;}
  79%{box-shadow: 0.2vw 0.2vw 0.8vw #F00, -0.2vw 0.2vw 0.9vw #FF0, 0.2vw -0.2vw 0.6vw #F60, -0.2vw -0.2vw 0.7vw #F28; background-color:#F60;}
  81%{box-shadow: 0.2vw 0.2vw 0.7vw #F28, -0.2vw 0.2vw 0.8vw #F00, 0.2vw -0.2vw 0.9vw #FF0, -0.2vw -0.2vw 0.6vw #F60;}
  83%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0; background-color:#FD5;}
  85%{box-shadow: 0.2vw 0.2vw 0.9vw #FF0, -0.2vw 0.2vw 0.6vw #F60, 0.2vw -0.2vw 0.7vw #F28, -0.2vw -0.2vw 0.8vw #F00;}
  87%{box-shadow: 0.2vw 0.2vw 0.8vw #F00, -0.2vw 0.2vw 0.9vw #FF0, 0.2vw -0.2vw 0.6vw #F60, -0.2vw -0.2vw 0.7vw #F28; background-color:#F92;}
  89%{box-shadow: 0.2vw 0.2vw 0.7vw #F28, -0.2vw 0.2vw 0.8vw #F00, 0.2vw -0.2vw 0.9vw #FF0, -0.2vw -0.2vw 0.6vw #F60;}
  91%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0; background-color:#F61;}
  95%{box-shadow:0 0 0.6vw #FF0; background-color:#FF5;}
}

@keyframes protect{
  73%{opacity:0;}
  74%{opacity:1;}
  90%{opacity:1;}
  95%{opacity:0;}
}
