.newRules{
  animation:notify linear 5s infinite;
  animation-delay:5s;
}
.Unfocus{
  animation:protect linear 5s infinite;
  animation-delay:5s;
}

@keyframes notify{
  0%{box-shadow:0 0 0.6vw #FF0 !important;}
  40%{box-shadow:0 0 0.6vw #FF0 !important;}
  50%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0 !important; font-weight:bold;}
  55%{box-shadow: 0.2vw 0.2vw 0.9vw #FF0, -0.2vw 0.2vw 0.6vw #F60, 0.2vw -0.2vw 0.7vw #F28, -0.2vw -0.2vw 0.8vw #F00 !important; font-weight:bold;}
  60%{box-shadow: 0.2vw 0.2vw 0.8vw #F00, -0.2vw 0.2vw 0.9vw #FF0, 0.2vw -0.2vw 0.6vw #F60, -0.2vw -0.2vw 0.7vw #F28 !important; font-weight:bold;}
  65%{box-shadow: 0.2vw 0.2vw 0.7vw #F28, -0.2vw 0.2vw 0.8vw #F00, 0.2vw -0.2vw 0.9vw #FF0, -0.2vw -0.2vw 0.6vw #F60 !important; font-weight:bold;}
  70%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0 !important; font-weight:bold;}
  75%{box-shadow: 0.2vw 0.2vw 0.9vw #FF0, -0.2vw 0.2vw 0.6vw #F60, 0.2vw -0.2vw 0.7vw #F28, -0.2vw -0.2vw 0.8vw #F00 !important; font-weight:bold;}
  80%{box-shadow: 0.2vw 0.2vw 0.8vw #F00, -0.2vw 0.2vw 0.9vw #FF0, 0.2vw -0.2vw 0.6vw #F60, -0.2vw -0.2vw 0.7vw #F28 !important; font-weight:bold;}
  85%{box-shadow: 0.2vw 0.2vw 0.7vw #F28, -0.2vw 0.2vw 0.8vw #F00, 0.2vw -0.2vw 0.9vw #FF0, -0.2vw -0.2vw 0.6vw #F60 !important; font-weight:bold;}
  90%{box-shadow: 0.2vw 0.2vw 0.6vw #F60, -0.2vw 0.2vw 0.7vw #F28, 0.2vw -0.2vw 0.8vw #F00, -0.2vw -0.2vw 0.9vw #FF0 !important; font-weight:bold;}
  100%{box-shadow:0 0 0.6vw #FF0 !important;}
}

@keyframes protect{
  40%{opacity:0;}
  50%{opacity:1;}
  90%{opacity:1;}
  100%{opacity:0;}
}
