/* All html objects will be wrapped in the #wrap div */
.goal-cont {
    color: white;
  	position:absolute;
  	top:0;
  	opacity:0;
}

/*/////////////////////*/

body{
}

#projeto{
  width:856px;
  height:220px;
  /*border:dashed 1px #FFF;*/
  position:fixed;
  bottom:0px;
  left:0%;
  transition:0.3s ease-in-out all;
}


.fundo{
  width:100%;
  height:100%;
}

/* Design do Fundão mesmo */
#bg{
  width:856px;
  height:220px;
  top:0;
  background:left top;
  background-size:100%;
}
/***********/
.barras{
  width:675px;
  /*border:dashed 1px #F51;*/
  margin:0 0 0 145px;
  position:absolute;
}


/*  ////(cd) - BARRA DE VIDA PRINCIPAL//// */

.cheia{
  width:0%;
  height:220px;
  /*background-image:url('');
  background-size:856px;
  background-position:-0px 0;*/
  overflow:hidden;
  transform:skew(38deg, 0);
  transition:all linear 0.3s;
  z-index:22;
  filter:blur(0px) drop-shadow(4px 4px 3px #000);
}
#cBar{
  
}

.cheia img{
  margin:0 0 0 -145px;
  transform:skew(-35deg, 0);
  opacity:0.9;
}

/*// Barra vermelha de delay // */
.red{
  width:0%;
  position:absolute;
  top:0;
  overflow:hidden;
  transform:skew(35deg, 0);
  transition:all ease-in-out 3s 2s;
  filter:/*saturate(300%)*/ /*blur(3px)*/ hue-rotate(105deg) contrast(800%) blur(2px) drop-shadow(4px 4px 3px #000);
  /*animation:redbar 1s linear;
  animation-iteration-count:infinite;*/
  /*border:solid 1px #FFF;*/
}
#rBar{
  
}

.red img{
  margin:0 0 0 -145px;
  transform:skew(-35deg, 0);
  opacity:0.8;
}

.vazia{
  width:100%;
  position:absolute;
  top:0;
  overflow:hidden;
  transform:skew(35deg, 0);
  transition:all ease-in-out 2s;
  filter:invert(70%) hue-rotate(200deg) saturate(20%) contrast(400%) brightness(20%);
  /*border:solid 1px #FFF;*/
}
.vazia img{
  margin:0 0 0 -145px;
  transform:skew(-35deg, 0);
  opacity:1;
  
}

      /*Formatação do Nome do Boss*/
/* // Porcentagem de Vida  //  */
#nome{
  width:90%;
  position:absolute;
  top:63px;
  left:-5px;
  /*border:solid 1px #595;*/
  margin:0;
  padding:0 5px;
  opacity:0.8;
/*formatação de texto*/
  text-align:left;
  color:#FFF;
  font-family:'Doppio One';
  font-size:36px;
  text-shadow:0.8px 0.8px 1px #FFF, -0.8px -0.8px 1px #425, 0 0 10px #93D;
  letter-spacing:5px;
  z-index:50;
}

/*//   Design de Bordas   //*/
.bordas{
  width:856px;
  height:220px;
  position:absolute;
  top:0;
  background:left top;
  background-size:100%;
  /*border:dotted 1px #15F;*/
  z-index:100;
  filter:drop-shadow(1px 1px 2px #000);
}

/*///    Design do Fundo Inferior     /// */
.bg2{
  width:856px;
  height:220px;
  position:absolute;
  top:0;
  background:left top;
  background-size:100%;
  z-index:40;
}
/*formatação do sub*/
#subtitulo{
  position:absolute;
  top:125px;
  left:170px;
  /*border:dashed 1px #F00;*/
  margin:0;
  padding:0;
/*formatação do texto*/
  color:#FFF;
  font-size:20px;
  font-family:verdana;
  text-shadow:1px 1px 5px #000;
}



/*Barra de vida //Formatação// */
#saude{
  /*border:dotted 1px #F85;*/
  position:absolute;
  top:75px;
  right:60px;
  margin:0;
  padding:0;
  /*FMT texto*/
  color:#FFF;
  font-family:'Verdana', Trebuche MS, Arial;
  font-size:28px;
  text-shadow:0 0 5px #5A9, 0 0 10px #5A9, 0 0 25px #95A, 1px 1px 3px #000;
  opacity:0.8;
  /*animation:redblink 1s ease-out, greenblink 1s ease-out;*/
}


/*//  Contador de vidas  //*/
.life-count{
  width:856px;
  height:220px;
  position:absolute;
  top:0;
  z-index:45;
  transition:all ease-in-out 0.1s;
}

#lc0{
  /*background:url(https://i.imgur.com/h7oCVXf.png);*/
  opacity:0;
}
#lc1{
  /*background:url(https://i.imgur.com/lMoAUyz.png);*/
  opacity:0;
}
#lc2{
  /*background:url(https://i.imgur.com/ls9pywl.png);*/
  opacity:0;
}
#lc3{
  /*background:url(https://i.imgur.com/ErIoY8S.png);*/
  opacity:0;
}
#lc4{
  /*background:url(https://i.imgur.com/FBE0AYc.png);*/
  opacity:0;
}
#lc5{
  /*background:url(https://i.imgur.com/ORL9u93.png);*/
  opacity:1;
}

/*//  Avatars   //*/
#Avatar{
  width:115px;
  position:absolute;
  top:66px;
  left:33px;
  transition:all 1s ease-out;
  /*filter:invert(100%);*/
}

/*// *   Status de Donate    * //*/

.status{
  width:656px;
  height:130px;
  position:fixed;
  bottom:220px;
  left:100px;
  transition:all ease-in-out 2s;
  opacity:0;
  cursor:pointer;
  z-index:200;
  background:rgba(0,0,0,0.6);
  border-radius:5px;
}
.status:hover{
  opacity:1;
}

.status div{
  position:absolute;
  text-align:center;
  border-bottom:solid 1px #999;
  font-size:32px;
  font-family:verdana;
  padding:0px 5px;
  border-radius:3px;
}

/*Formato dos status*/
#paypal{
  bottom:45px;
  right:0px;
  cursor:text;
  color:#FFF;
  border:solid 1px #999;
  opacity:0.5;
}

#pix{
  bottom:0px;
  right:0px;
  cursor:text;
  color:#FFF;
  border:dashed 1px #888;
}

#palsoma{
  bottom:45px;
  right:140px;
  color:#FFF;
  border:solid 1px #619;
  border-radius:4px;
  cursor:no-drop;
  opacity:0.5;
}

#pixsoma{
  bottom:0px;
  right:140px;
  color:#FFF;
  border:solid 1px #269;
  border-radius:4px;
  cursor:no-drop;
  opacity:0.5;
}

#result{
  bottom:0px;
  right:280px;
  color:#999;
  border-radius:2px;
  border:none;
  background:rgba(200,200,200,0.1);
  cursor:default;
}

#pixcal{
  position:absolute;
  top:80px;
  right:70px;
  cursor:no-drop;
  /*formatação*/
  font-family:Calibri;
  font-size:22px;
  font-weight:bold;
  background:none;
  color:#fff;
  border-radius:5px;
  border:solid 1px #F2E;
}

#maximo{
  color:#FFF;
  border-radius:1.5px;
  opacity:0.5;
  cursor:text;
}

#porcentoNaDev{
  color:#FFF;
  bottom:0;
  left:-20px;
  border-radius:1.5px;
  cursor:none;
}

#pp, #px{
  width:240px;
  color:#FFF;
  text-align:left;
  font-family:'Verdana', Trebuchet MS;
  font-size:24px;
  border:none;
  position:absolute;
}
#pp{
  bottom:40px;
  left:100%;
  color:#9AF;
  text-shadow:0 0 5px #49F, 0 0 10px #49F;
  opacity:0.3;
  cursor:default;
}
#px{
  bottom:0px;
  left:100%;
  color:#A7F;
  text-shadow:0 0 5px #93F, 0 0 10px #93F;
  opacity:0.3;
  cursor:default;
}
#debug{
  width:100%;
  color:#999;
  position:absolute;
  border:none;
  font-size:22px;
  bottom:-125px;
  text-shadow:.3px 0.3px 1px #000, -.3px -.3px 1px #FFF;
}

@keyframes redbar{
  50% {opacity:0.6;}
}

@keyframes redblink{
  10% {color:#F77; text-shadow:0 0 5px #F00, 0 0 15px #F00;}
}
@keyframes greenblink{
  10% {color:#7F7; text-shadow:0 0 5px #0F0, 0 0 15px #0F0;}
}


/***~~~~~Barra De Meta~~~~~***/


.corpo-meta{
  width:420px;
  height:20px;
  /*border:solid 1px #FFF;*/
  position:absolute;
  top:20px;
  left:20%;
  opacity:0.3;
  transform:scale(1.8);
}

.borda-meta{
  height:100%;
  border:solid 2.5px #FFF;
  border-left:none;
  border-right:none;
  border-radius:4px;
  background:url(https://i.imgur.com/oaZlZQE.gif) center;
  background-size:100% 200%;
}

#barra-meta{
  height:100%;
  overflow:hidden;
}

#dina-meta{
  height:100%;
  background:#0F0;
  transition:1s all ease-in-out;
  overflow:hidden;
  border-radius:0 5px 5px 0px;
  filter:blur(0.5px) brightness(200%) hue-rotate(0deg);
  box-shadow:4px 0 10px 3px #0F0, inset 2px 0 10px 3px #0F0;
}
#imageMeta{
  width:420px;
  height:22px;
  background:url(https://i.imgur.com/4sxDzw4.gif) center;
  background-size:100% 250%;
  box-shadow:inset 0 0 10px -5px #0F0;
  margin:-3px 0 0 0;
  position:absolute;
  top:0px;
  opacity:1;
  transition:all ease-in-out .3s;
}
#imagePurple{
  width:420px;
  height:22px;
  background:url(https://i.imgur.com/JyhG2GG.gif) center;
  background-size:100% 250%;
  box-shadow:inset 0px 0 10px -5px #70F;
  margin:-3px 0 0 0;
  position:absolute;
  top:0px;
  opacity:0;
  transition:all ease-in-out .3s;
}
#imageOrange{
  width:420px;
  height:22px;
  background:url(https://i.imgur.com/1Zxxz0D.gif) center;
  background-size:100% 250%;
  box-shadow:inset 0 0 10px -5px #0F0;
  margin:-3px 0 0 0;
  position:absolute;
  top:0px;
  /*filter:blur(3px);*/
  opacity:0;
}

#barLight{
  width:100%;
  height:100%;
  box-shadow:inset -10px 0 5px -2px #0F0, inset -5px 0 5px 0px #0F0;
  border-right:2px solid #8F8;
  position:absolute;
  top:0;
  filter:blur(3px);
}

#overShadow{
  width:100.21%;
  height:21px;
  box-shadow:inset -5px 0 5px 1px #000;
  border-radius:1px;
  position:absolute;
  top:2px;
  left:-0.3px;
}

.cotacao{
  width:320px;
  position:absolute;
  top:15px;
  left:860px;
  color:#FFF;
  text-align:center;
  font-size:32px;
  font-family:"Trebuchet MS";
  padding:0px 5px;
  opacity:0;
  cursor:pointer;
  transition: 1s all linear 2s;
}

.cotacao:hover{
  opacity:1;
  transition: 1s all linear;
}

#donate-conect{
  border:solid 2px rgba(255,255,255,0);
  padding:0px 5px;
  float:left;
  color:#999;
}

#armazenado{
  border:solid 2px rgba(255,255,255,0.2);
  border-radius:4px;
  padding:0px 5px;
  margin:0 5px;
  float:left;
}

#resultado-meta{
  border:solid 2px rgba(255,255,255,0);
  padding:0px 5px;
  float:left;
  color:#9F9;
}

#metaStats{
  padding:0px 5px;
  color:#FFF;
  text-shadow:0 0 5px #11F, 1px 1px 2px #000;
  text-align:center;
  font-size:32px;
  opacity:0.6;
  
  font-family:"Trebuchet MS";
  position:absolute;
  top: 20px;
  left: 420px;
  transition:ease-in-out 0.5s all;
}
#teste{
  font-size:32px;
  color:#FFF;
  position:absolute;
  bottom:1%;
  left:0;
}

#nomeDaMeta{
  width:840px;
  margin:60px 0;
  text-align:right;
  color:#FFF;
  font-size:32px;
  font-family:Agency FB;
  text-shadow:1px 1px 3px #000, 0 0 5px #90F;
  opacity:0.3;
}
